<div class="relative">
  <input
    [type]="inputType"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [class]="currentVariant"
    aria-label="{{ placeholder }}"
  />
  <i *ngIf="currentIcon" [class]="currentIcon"></i>
  <app-button
    *ngIf="showToggle"
    [variant]="passwordVisible ? 'eyeIconClosed' : 'eyeIcon'"
    (buttonClick)="handleToggle()"
    ariaLabel="Mostrar / ocultar contraseña"
  ></app-button>
</div>
